<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzon.blooming.delivery.repo.DeliveryRepository">

    <insert id="insertDelivery" parameterType="com.douzon.blooming.delivery.dto.request.RequestDeliveryDto">
        INSERT INTO project.delivery(employee_no, delivery_date)
        VALUES (#{employeeNo}, #{dto.deliveryDate})
    </insert>

    <select id="getDeliveryNo" resultType="java.lang.String">
        SELECT delivery_no
        FROM project.delivery
        ORDER BY SUBSTRING(delivery_no,2,4) DESC,SUBSTRING(delivery_no,7) DESC LIMIT 1
    </select>

    <select id="findDelivery" parameterType="java.lang.String" resultType="com.douzon.blooming.delivery.dto.response.GetDeliveryDto">
        SELECT D.delivery_no AS delivery_no,
               E.name AS employee_name,
               D.delivery_date AS delivery_date
        FROM project.delivery D
        LEFT JOIN project.employee E ON D.employee_no = E.employee_no
        WHERE D.delivery_no = #{delivery_no}
    </select>

    <select id="findDeliveries" parameterType="com.douzon.blooming.delivery.dto.request.DeliverySearchDto" resultType="com.douzon.blooming.delivery.dto.response.ListDeliveryDto">
        SELECT D.delivery_no as delivery_no,
               E.name as employee_name,
               D.delivery_date as delivery_date,
               D.progress_status as delivery_status
        FROM project.delivery D LEFT JOIN project.employee E ON D.employee_no = E.employee_no
        <where>
            <if test="dto.startDate != null or dto.endDate != null">
                <choose>
                    <when test="dto.startDate != null and dto.endDate == null">
                        <![CDATA[
                        D.delivery_date >= #{dto.startDate}
                        ]]>
                    </when>
                    <when test="dto.startDate == null and dto.endDate != null">
                        <![CDATA[
                        D.delivery_date <= #{dto.endDate}
                        ]]>
                    </when>
                    <otherwise>
                        <![CDATA[
                        D.delivery_date BETWEEN #{dto.startDate} AND #{dto.endDate}
                        ]]>
                    </otherwise>
                </choose>
            </if>
            <if test = "dto.employeeName != null">
                <choose>
                    <when test="dto.startDate == null and dto.endDate == null">
                        E.name LIKE CONCAT('%', #{dto.employeeName}, '%')
                    </when>
                    <otherwise>
                        AND E.name LIKE CONCAT('%', #{dto.employeeName}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test = "dto.progressStatus != null">
                <choose>
                    <when test="dto.startDate == null and dto.endDate == null and dto.employeeName == null">
                        D.progress_status = #{dto.progressStatus}
                    </when>
                    <otherwise>
                        AND D.progress_status = #{dto.progressStatus}
                    </otherwise>
                </choose>
            </if>
        </where>
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="getCountDeliveries" parameterType="com.douzon.blooming.delivery.dto.request.DeliverySearchDto" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM project.delivery D LEFT JOIN project.employee E ON D.employee_no = E.employee_no
        <where>
            <if test="dto.startDate != null or dto.endDate != null">
                <choose>
                    <when test="dto.startDate != null and dto.endDate == null">
                        <![CDATA[
                        D.delivery_date >= #{dto.startDate}
                        ]]>
                    </when>
                    <when test="dto.startDate == null and dto.endDate != null">
                        <![CDATA[
                        D.delivery_date <= #{dto.endDate}
                        ]]>
                    </when>
                    <otherwise>
                        <![CDATA[
                        D.delivery_date BETWEEN #{dto.startDate} AND #{dto.endDate}
                        ]]>
                    </otherwise>
                </choose>
            </if>
            <if test = "dto.employeeName != null">
                <choose>
                    <when test="dto.startDate == null and dto.endDate == null">
                        E.name LIKE CONCAT('%', #{dto.employeeName}, '%')
                    </when>
                    <otherwise>
                        AND E.name LIKE CONCAT('%', #{dto.employeeName}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test = "dto.progressStatus != null">
                <choose>
                    <when test="dto.startDate == null and dto.endDate == null and dto.employeeName == null">
                        D.progress_status = #{dto.progressStatus}
                    </when>
                    <otherwise>
                        AND D.progress_status = #{dto.progressStatus}
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

    <update id="updateDelivery" parameterType="com.douzon.blooming.delivery.dto.request.UpdateDeliveryDto">
        UPDATE project.delivery SET delivery_date = #{dto.deliveryDate} WHERE delivery_no = #{deliveryNo}
    </update>

    <delete id="deleteDelivery" parameterType="java.lang.String">
        DELETE FROM project.delivery WHERE delivery_no = #{deliveryNo}
    </delete>
</mapper>