<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzon.blooming.instruction.repo.InstructionRepository">
    <insert id="insertInstruction" parameterType="com.douzon.blooming.instruction.dto.request.InsertInstructionDto">
        INSERT INTO project.instruction(instruction_date, customer_no, employee_no, progress_status, expiration_date)
                VALUES (#{instructionDate}, #{customerNo}, #{employeeNo}, #{progressStatus}, #{expirationDate})
    </insert>

    <select id="getInstructionNo" resultType="java.lang.String">
        SELECT instruction_no
        FROM project.instruction
        ORDER BY SUBSTRING(instruction_no,2,4) DESC,SUBSTRING(instruction_no,7) DESC LIMIT 1
    </select>

    <select id="findInstruction" parameterType="java.lang.String" resultType="com.douzon.blooming.instruction.dto.response.GetInstructionDto">
        SELECT  I.instruction_no as instruction_no, I.instruction_date as instruction_date,
                C.customer_name as customer_name, E.name as employee_name,
                I.progress_status as progress_status, I.expiration_date as expiration_date
        FROM project.instruction I INNER JOIN project.customer C ON I.customer_no = C.customer_no
                                   INNER JOIN project.employee E ON I.employee_no = E.employee_no
        WHERE I.instruction_no = #{instructionNo}
    </select>

    <select id="findInstructions" parameterType="com.douzon.blooming.instruction.dto.request.InstructionSearchDto"
            resultType="com.douzon.blooming.instruction.dto.response.ListInstructionDto">
        SELECT I.instruction_no AS instruction_no,
        E.name AS employee_name,
        C.customer_no AS customer_no,
        C.customer_name AS customer_name,
        I.instruction_date AS instruction_date,
        I.expiration_date AS expiration_date,
        I.progress_status AS progress_status
        FROM project.instruction I
        INNER JOIN project.customer C ON I.customer_no = C.customer_no
        INNER JOIN project.employee E ON I.employee_no = E.employee_no
        <where>
            <if test="dto.progressStatus != null">
                I.progress_status = #{dto.progressStatus}
            </if>
            <if test="dto.employeeName != null">
                <choose>
                    <when test="dto.progressStatus == null">
                        E.name LIKE CONCAT('%', #{dto.employeeName}, '%')
                    </when>
                    <otherwise>
                        AND E.name LIKE CONCAT('%', #{dto.employeeName}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test="dto.startDate != null">
                <choose>
                    <when test="dto.employeeName == null and dto.progressStatus == null">
                        I.instruction_date BETWEEN #{dto.startDate} AND #{dto.endDate}
                    </when>
                    <otherwise>
                        AND I.instruction_date BETWEEN #{dto.startDate} AND #{dto.endDate}
                    </otherwise>
                </choose>
            </if>
        </where>
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="getCountInstructions" parameterType="com.douzon.blooming.instruction.dto.request.InstructionSearchDto"
            resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM project.instruction I
        INNER JOIN project.customer C ON I.customer_no = C.customer_no
        INNER JOIN project.employee E ON I.employee_no = E.employee_no
        <where>
            <if test="dto.progressStatus != null">
                I.progress_status = #{dto.progressStatus}
            </if>
            <if test="dto.employeeName != null">
                <choose>
                    <when test="dto.progressStatus == null">
                        E.name LIKE CONCAT('%', #{dto.employeeName}, '%')
                    </when>
                    <otherwise>
                        AND E.name LIKE CONCAT('%', #{dto.employeeName}, '%')
                    </otherwise>
                </choose>
            </if>
            <if test="dto.startDate != null">
                <choose>
                    <when test="dto.employeeName == null and dto.progressStatus == null">
                        I.instruction_date BETWEEN #{dto.startDate} AND #{dto.endDate}
                    </when>
                    <otherwise>
                        AND I.instruction_date BETWEEN #{dto.startDate} AND #{dto.endDate}
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

    <update id="updateInstruction" parameterType="com.douzon.blooming.instruction.dto.request.UpdateInstructionDto">
        UPDATE project.instruction SET customer_no = #{dto.customerNo},
        instruction_date = #{dto.instructionDate}, expiration_date = #{dto.expirationDate}
        WHERE instruction_no = #{instructionNo}
    </update>

    <delete id="deleteInstruction" parameterType="java.lang.String">
        DELETE FROM project.instruction WHERE instruction_no = #{instructionNo}
    </delete>
</mapper>